name: Package build when changes pushed to repository

on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8 for x64
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          # noinspection SpellCheckingInspection
          distribution: 'temurin'
          architecture: x64
          cache: maven
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots package
